.buycont {
  padding-top: 4rem;
  font-family: helvetica, sans-serif;
  align-items: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #007791;
}

.buyfilters{
  width: 80%;
  margin: 0 20%;
}

.buycont form input {
  font-size: 18px;
}

#searchbutton {
  margin-right: 3rem;
}

.buycont form select {
   font-size: 20px;

}

.catdropdown {
  margin-right: 3rem;
}


.productsdisplay {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 35px;
  justify-content: center;

}

.productsdisplay .productinfo {
  display: inline-block;
  margin: 5px 15px;
  border: 1px solid #007791;
  border-radius: 4px;
}

.productsdisplay .productinfo img{
  height: 200px;
  width: 300px;
  display: inline-flex;
  flex-direction: row;
}

.productsdisplay .productinfo h4{
  text-align: center;
}

footer {
  margin-top: 3rem;
}


a:hover {
  font-weight: 550;
  transition: 0.3s;
}

.headlogo a:hover {
  color: #710101;
  font-weight: 500;
  transition: 0.5s;
}

nav a:hover {
  color: #710101;
}

#signup a:hover {
  color: yellow;
}

footer a:hover {
  color: yellow;
}
