h2 {
    font-weight: 500 !important;
}

h2:after {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}



/*----------------------------------------------------------*/
/* BUY PRODUCTS FILTERS STYLING */
/*----------------------------------------------------------*/
.buy-filters {
    width: 90%;
    margin-left: 5%;
}

.buy-filters select{
    width: 100%;
}

.search-product {
    width: 80%;
    margin-left: 10%;
}

#search-products {
    width: 100%;
}

#search-btn {
    width: 100%;
    color: #e67e22;
    border: 1px solid #e67e22;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.4s;
}

#search-btn:hover {
    transform: scale(0.95);
}

#search-btn,
#search-products,
.buy-filters select {
    height: 40px;
    border-radius: 6px;
    padding: 5px;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
	.span-3-of-4 {
		width: 74.6% !important;
	}

	.span-1-of-4 {
		width: 23.8% !important;
	}

    form {
        font-size: 85%;
    }

    form input {
        font-size: 75%;
    }

    #search-btn {
        margin-left: 4px;
    }

    .buy-filters select{
        margin-bottom: 10px;
}

}

/*----------------------------------------------------------*/
/* BUY PRODUCTS IMAGES STYLING */
/*----------------------------------------------------------*/
.productsdisplay {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      padding-left: 35px;
      justify-content: center;
      margin-bottom: 50px;
}

.productsdisplay .productinfo {
      display: inline-block;
      margin: 10px 15px;
      border: 1px solid #007791;
      border-radius: 4px;
}

.productsdisplay .productinfo img{
      height: 200px;
      width: 300px;
      display: inline-flex;
      flex-direction: row;
}

.productsdisplay .productinfo h4{
      text-align: center;
      padding-bottom: 2px;
      border-bottom: 1px solid #007791;
}

.sellerlocation {
    border-bottom: none !important;
}
